@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root{
  --primary-color:#059669;
  --secondary-color:#0284c7;
  --dark-grey:#4b5563;
  --off-white:#F3F4F6;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/** navigation **/
.navigation
{
  background-color: var(--primary-color);
  padding: 1.5rem;
  text-align: right;
}
.list-item-inline
{
  display: inline;
  margin: 1rem;
}
.list-item-inline a
{
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.2rem;;
}
.link-active
{
  font-weight: bold;
}
/** container **/
.container
{
  text-align: center;
}
h1{
  text-align: center;
}
/** label,input **/
label,input{
  display: block;
  margin: auto;
}
label{
  margin: 1rem;
}
input{
  padding: 0.5rem 1rem;
}
#check-button
{
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color:var(--primary-color);
  border-radius: 00.5rem;
  border: none;
  color: var(--off-white);
  cursor: pointer;
}
#check-button:hover{
  color:#059669;
  background-color:black;
}
.output-div
{
  margin-top: 1rem;;
  text-align: center;
  color: inherit;
  font-size: large;
}